In [ ]:
import requests
import json
import sqlite3

In [ ]:
link = "https://testereq-f333a-default-rtdb.firebaseio.com/.json"
a = requests.get(link)

In [ ]:
print(a)
print(a.json())

<Response [200]>
{'1': {'estuda': True, 'idade': 20, 'nome': 'jose'}, '2': {'estuda': False, 'idade': 23, 'nome': 'kleverson'}, '-O-RtZ7fu6oBmsDg5SaY': {'estuda': True, 'idade': 19, 'nome': 'Guilherme'}}

In [ ]:
info = {"estuda":True,"idade":19,"nome":"Guilherme"}

#query = "INSERT INTO "

#bpost = requests.post(link, data = json.dumps(info))


#print(bpost)
#print(bpost.json())

In [ ]:
conn = sqlite3.connect('testereq.db')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS "testandotabela" (
	"id"	INTEGER NOT NULL,
	"nome"	TEXT,
	"idade"	NUMERIC,
	"estuda"	INTEGER,
	PRIMARY KEY("id")
);''')

In [ ]:
c.execute("INSERT INTO testandotabela (nome, idade, estuda) VALUES (?, ?, ?)",(info['nome'], info['idade'], info['estuda']))

In [ ]:
conn.commit()

# Fechar a conexão com o banco de dados

In [ ]:
c = conn.cursor()

a = c.execute("SELECT * from testandotabela")

In [ ]:
print(a.fetchall())

[(1, 'Guilherme', 19, 1), (2, 'Guilherme', 19, 1), (3, 'Guilherme', 19, 1)]

In [ ]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
estuda = input("Você está estudando? (S1/N0): ")

post_data = {
    'nome': nome,
    'idade': idade,
    'estuda': estuda
}

c.execute("INSERT INTO testandotabela (nome, idade, estuda) VALUES (?, ?, ?)",
          (nome, idade, estuda))

conn.commit()

a = c.execute("SELECT * from testandotabela")

print(a.fetchall())

conn.close()

Digite seu nome: jose
Digite sua idade: 12
Você está estudando? (S1/N0): 1
[(1, 'Guilherme', 19, 1), (2, 'Guilherme', 19, 1), (3, 'Guilherme', 19, 1), (4, 'jose', 12, 1)]

In [ ]:
a = requests.get("https://testereq-f333a-default-rtdb.firebaseio.com/.json")
print(a.json())

{'1': {'estuda': True, 'idade': 20, 'nome': 'jose'}, '2': {'estuda': False, 'idade': 23, 'nome': 'kleverson'}, '-O-RtZ7fu6oBmsDg5SaY': {'estuda': True, 'idade': 19, 'nome': 'Guilherme'}}